$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$primary-color: #3157e2;
$secondary-color: #35495e;
$white: #f7f7f7;
$red: #ff4d4f;
$border: #888;

$box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);


$font-size-base: 0.875rem;
$font-family: "Inter", sans-serif;
$font-weight: 400;
$font-style: normal;
